{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <form action="{{ url_for('quoted') }}" method="post">
        <fieldset>
            <div class="form-group">
                <p>{{quote.name}} ({{quote.symbol}}) stock costs {{"${:,.2f}".format(quote.price)}} per share</p>
                <p>{{amount}} units of {{quote.symbol}} costs a total of {{value}}</p>
                <p>{{user_message}}</p>
                <a class="btn btn-default" href="{{ url_for('index') }}">Return to Index</a>
                <a class="btn btn-default" href="{{ url_for('buy') }}">Go to Buy</a>
                <a class="btn btn-default" href="{{ url_for('sell') }}">Go to Sell</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
